:root {
  --black: #959997;
  --green: #49c880;
  --blue: #3898d4;
  --main-color: #e67f22;
  --list-color: rgba(230, 145, 34, 0.83);
  --white: white;
  --none: none;
  --center: center;
  --pointer: pointer;
}

img {
  width: 100%;
  vertical-align: middle;
}

body .voir {
  text-decoration: none;
  background-color: #e67f22;
  color: black;
  display: block;
  text-align: center;
  border: none;
  border-radius: 0.3rem;
  margin-top: 0.5rem;
  cursor: pointer;
  padding-block: 1rem;
}
body header h2 {
  text-align: center;
  font-size: 1.5rem;
  background-color: #e67f22;
  padding: 1rem;
  color: white;
}
body header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
}
body header nav a {
  text-decoration: none;
  color: #e67f22;
}
body header nav a span {
  background-color: #e67f22;
  color: white;
  border-radius: 50%;
  padding: 0.2rem;
  margin-right: 0.2rem;
}
body header nav #theme {
  border: none;
  cursor: pointer;
  margin-left: auto;
  order: 0;
}
body header nav .open {
  display: none;
  position: absolute;
  background-color: rgba(230, 145, 34, 0.83);
  top: 0;
  bottom: 0;
  left: 0;
  right: 20%;
  z-index: 100;
}
body header nav .open li {
  padding: 1.5rem;
  margin-left: 1rem;
}
body header nav .open li a {
  color: black;
}
body header nav .open #close {
  position: inherit;
  top: 0.7rem;
  left: 0.7rem;
  border: none;
  border-radius: 50%;
  color: white;
  background-color: black;
  cursor: pointer;
  padding: 0.3rem;
}
body header nav #burger {
  cursor: pointer;
}
body header form {
  padding-inline: 0.5rem;
}
body header form button, body header form input {
  width: 100%;
}
body header form input {
  box-sizing: border-box;
  font-size: 1.3rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  width: 100%;
  border-radius: 0.7rem;
  border: 1px solid #e67f22;
  padding: 0.5rem 1rem;
}
body header form input:focus {
  border-color: #80bdff;
  outline: none;
  box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.25);
}
body header form button {
  background-color: #e67f22;
  color: white;
  border: none;
  border-radius: 0.3rem;
  margin-block: 0.5rem;
  cursor: pointer;
  padding-block: 0.5rem;
}
body #hero {
  padding: 0.5rem;
}
body #hero .level {
  padding-block: 0.5rem;
}
body #hero .level h2 {
  padding-block: 0.5rem;
}
body #hero .level label {
  color: #959997;
}
body section:last-of-type article,
body #recette article,
body .favoris article {
  margin: 1rem;
  position: relative;
}
body section:last-of-type article .fav-btn,
body #recette article .fav-btn,
body .favoris article .fav-btn {
  position: absolute;
  right: 1rem;
  top: 1rem;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}
body section:last-of-type article img,
body #recette article img,
body .favoris article img {
  border-radius: 1rem 1rem 0 0;
}
body section:last-of-type article figcaption,
body #recette article figcaption,
body .favoris article figcaption {
  margin: 0.7rem 0.5rem;
}
body section:last-of-type article figcaption .title,
body #recette article figcaption .title,
body .favoris article figcaption .title {
  padding-block: 1rem;
  font-size: 1.2rem;
}
body section:last-of-type article figcaption span,
body #recette article figcaption span,
body .favoris article figcaption span {
  color: white;
  padding: 0.3rem;
  border-radius: 1.5rem;
}
body section:last-of-type article figcaption .type,
body #recette article figcaption .type,
body .favoris article figcaption .type {
  background-color: #e67f22;
}
body section:last-of-type article figcaption .time,
body #recette article figcaption .time,
body .favoris article figcaption .time {
  background-color: #49c880;
}
body section:last-of-type article figcaption .level,
body #recette article figcaption .level,
body .favoris article figcaption .level {
  background-color: #3898d4;
}
body #body-recette,
body #page-favoris {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
body #body-recette main,
body #page-favoris main {
  flex: 1;
}
body #contactform {
  margin-block: 1rem;
}
body #contactform h2 {
  text-align: center;
  margin-block: 1rem;
  font-size: 1.3rem;
  color: #e67f22;
}
body #contactform article:first-of-type {
  font-size: 1.1rem;
  color: #959997;
}
body #contactform form {
  background-color: rgba(210, 105, 30, 0.17);
  border-radius: 0.3rem;
  padding-inline: 0.5rem;
}
body #contactform form > div {
  margin-bottom: 1rem;
}
body #contactform form .label {
  font-size: 1.3rem;
  padding-block: 0.7rem;
}
body #contactform form .input-grp {
  position: relative;
}
body #contactform form .input-grp input:not([type=checkbox]),
body #contactform form .input-grp textarea:not([type=checkbox]) {
  box-sizing: border-box;
  font-size: 1.3rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  width: 100%;
  border-radius: 0.7rem;
  border: 1px solid #e67f22;
  padding: 0.5rem 1rem;
}
body #contactform form .input-grp input:not([type=checkbox]):focus,
body #contactform form .input-grp textarea:not([type=checkbox]):focus {
  border-color: #80bdff;
  outline: none;
  box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.25);
}
body #contactform form .input-grp .is-valid,
body #contactform form .input-grp .is-invalid {
  display: initial;
}
body #contactform form .input-grp .is-valid.is-valid, body #contactform form .input-grp .is-valid.is-invalid,
body #contactform form .input-grp .is-invalid.is-valid,
body #contactform form .input-grp .is-invalid.is-invalid {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
}
body #contactform form .input-grp .is-valid,
body #contactform form .input-grp .feedback {
  display: none;
}
body #contactform form .feedback {
  color: red;
}
body #contactform form .submit {
  text-align: center;
}
body #contactform form .submit button {
  border: none;
  padding: 0.5rem 0.5rem;
  border-radius: 0.5rem;
  margin-block: 1rem;
  color: white;
  background-color: #e67f22;
  cursor: pointer;
}
body footer {
  padding: 0.5rem;
}
body footer a,
body footer p {
  color: #959997;
}
body footer div div {
  padding: 0.5rem;
}
body footer div div h2 {
  color: #e67f22;
}
body footer div div ul {
  list-style: none;
}
body footer div div ul a {
  text-decoration: none;
}

@media (min-width: 768px) {
  body {
    height: 100vh;
  }
  body nav,
  body main,
  body header form input,
  body button,
  body footer {
    max-width: 70%;
    margin: auto;
  }
  body nav #theme,
  body main #theme,
  body header form input #theme,
  body button #theme,
  body footer #theme {
    margin: 0;
  }
  body form input,
  body button {
    margin-right: auto;
    display: block;
  }
  body #hero .level {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  body #hero .level h2 {
    grid-column: 1/-1;
  }
  body #hero + section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0;
  }
  body footer div.nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 1rem;
  }
  body footer div.nav h2 {
    grid-column: 1/-1;
    margin-bottom: 0.4rem;
  }
  body footer div.nav ul li {
    padding: 0.2rem;
  }
  body footer div.copy {
    text-align: center;
    margin-block: 1rem;
  }
}
@media (min-width: 1028px) {
  body header nav .open {
    position: unset;
    background-color: unset;
    z-index: 100;
    display: block;
  }
  body header nav .open #close {
    display: none;
  }
  body header nav .open ul {
    display: flex;
    align-items: flex-start;
  }
  body header nav #burger {
    display: none;
  }
  body header nav #theme {
    order: 1;
    margin-left: auto;
  }
  body header form {
    display: flex;
    width: 70%;
    margin: auto;
  }
  body header form input[type=text] {
    position: relative;
    z-index: 5;
  }
  body header form button {
    max-width: 100px;
  }
  body main #hero + section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

/*# sourceMappingURL=style.css.map */
