$black : #959997;
$green : #49c880;
$blue : #3898d4;
$main-color : #e67f22;
$list-color : rgba(230, 145, 34, 0.83);
$center : center;
$white : white;
$none : none;
$center: center;
$pointer: pointer;
img{
  width: 100%;
  vertical-align: middle;
}
body{
    .voir{
        text-decoration: $none;
        background-color: $main-color;
        color: $white;
        display: block;
        text-align: center;
        border: $none;
        border-radius: 0.3rem;
        margin-top: 0.5rem;
        cursor: $pointer;
        padding-block: 1rem;
    }
    header{
        h2{
            text-align: $center;
            font-size: 1.5rem;
            background-color: $main-color;
            padding: 1rem;
            color: $white;
        }
        nav{
            display: flex;
            justify-content: space-between;
            align-items: $center;
            padding: 0.5rem;
            a{
                text-decoration: $none;
                color: $main-color;
                span{
                    background-color: $main-color;
                    color: $white;
                    border-radius: 50%;
                    padding: 0.2rem;
                    margin-right: 0.2rem;
                }
            }
            #theme{
                border: $none;
                cursor: pointer;
            }
            
            .open{
                display: $none;
                position: absolute;
                background-color: $list-color;
                top: 0;
                bottom: 0;
                left: 0;
                right: 20%;
                z-index: 100;
                li{
                    padding: 1.5rem;
                    margin-left: 1rem;
                    a{
                        color: black;
                    }
                }
                #close{
                    position: inherit;
                    top: 0.7rem;
                    left: 0.7rem;
                    border: $none;
                    border-radius: 50%;
                    color: $white;
                    background-color: black;
                    cursor: pointer;
                    padding: 0.3rem;
                }
            }
            #burger{
                cursor: $pointer;
            }
        }
        form{
            padding-inline: 0.5rem;
            button,input{
                width: 100%;
            }
            input{
                box-sizing: border-box;
            }
            button{
                background-color: $main-color;
                color: $white;
                border: $none;
                border-radius: 0.3rem;
                margin-block: 0.5rem;
                cursor: $pointer;
            }
        }
    }
    #hero{
        padding: 0.5rem;
        .level{
            padding-block: 0.5rem;
            h2{
                padding-block: 0.5rem;
            }
            label{
                color: $black;
            }
        }
        
    }
    section:nth-of-type(2),
    #recette,
    .favoris{
        article{
            background-color: rgba(128, 128, 128, 0.22);
            border-radius: 0.6rem;
            margin: 1rem;
            position: relative;
            
            .fav-btn{
                position: absolute;
                right: 1rem;
                top: 1rem;
                border-radius: 50%;
                border: $none;
                cursor: $pointer;
            }
            img{
                border-radius: 1rem 1rem 0 0;
            }
            figcaption{
                margin: 0.7rem 0.5rem;
                h3{
                    padding-block: 1rem;
                    font-size: 1.2rem;
                }
                span{
                    color: $white;
                    padding: 0.3rem;
                    border-radius: 1.5rem;
                }
                span:first-of-type{
                    background-color: $main-color;
                }
                span:nth-of-type(2){
                    background-color: $green;
                }
                span:last-of-type{
                    background-color: $blue;
                }
            }
            
        }
    }
    section:last-of-type{
        margin-inline: 1rem;
        a,
        p{
            color: $black;
        }
        h2{
            color: $main-color;
            margin-block: 0.5rem;
        }
        article ul li{
            padding-block: 0.2rem;
            a{
                text-decoration: $none;
                
            }
        }
    }
    footer{
        margin-block: 1rem;
        text-align: $center;
    }
    #body-recette,
    #page-favoris{
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        main{
            flex: 1;
        }
    }
    
    #contactform{
        margin-block: 1rem;
        h2{
            text-align: $center;
        }
        form{
            background-color: rgba(128, 128, 128, 0.36);
            padding: 1rem;
            border-radius: 1rem;
            input:not([type="checkbox"]),
            textarea{
                width: 100%;
                box-sizing: border-box;
            }
            input:not([type="checkbox"]){
                height: 30px;
            }
            .invalid-feedback{
                color: red;
            }
            .name,
            .email,
            .msg,
            .rgpd{
                position: relative;
                .is-valid,
                .is-invalid{
                    position: absolute;
                    top: 25%;
                    right: 0;
                    &.is-valid{
                        display: $none;
                    }
                }
                &.msg{
                    .is-valid,
                    .is-invalid{
                        top: 1.5rem;
                    }
                }
                &.rgpd{
                    .is-valid,
                    .is-invalid{
                        top: 0;
                    }
                }
            }
            .submit{
                text-align: $center;
                button{
                    padding: 0.7rem;
                    border: none;
                    border-radius: 1rem;
                    color: $white;
                    background-color: $main-color;
                    margin-block: 1rem;
                    cursor: $pointer;
                }
            }
        }
    }
}
