@import 'mixins';
$black : #959997;
$green : #49c880;
$blue : #3898d4;
$main-color : #e67f22;
$list-color : rgba(230, 145, 34, 0.83);
$center : center;
$white : white;
$none : none;
$center: center;
$pointer: pointer;
$bg-dark-theme: black;
$bg-light-theme: white;
$text-dark: black;

:root {
    font-size: 15px;
    --black: #{$black};
    --green: #{$green};
    --blue: #{$blue};
    --main-color: #{$main-color};
    --list-color: #{$list-color};
    --white: #{$white};
    --none: #{$none};
    --center: #{$center};
    --pointer: #{$pointer};
    --bg-dark-theme: #{$bg-dark-theme};
    --bg-light-theme: #{$bg-light-theme};
    --text-dark: #{$text-dark}
}
img{
  width: 100%;
  vertical-align: middle;
}
.dark{
    background-color: $bg-dark-theme;
    color: $white;
}
body{
    font-family: "Ubuntu", serif;
    transition: background 0.3s, color 0.3s;
    background-color: $bg-light-theme;
    color: $bg-dark-theme;
    
    .voir{
        text-decoration: $none;
        background-color: $main-color;
        color: black;
        display: block;
        text-align: center;
        border: $none;
        border-radius: 0.3rem;
        margin-top: 0.5rem;
        cursor: $pointer;
        padding-block: 1rem;
    }
    header{
        h2{
            border-radius: 2rem 2rem 0 0;
            text-align: $center;
            font-size: 1.5rem;
            background-color: $main-color;
            padding: 1rem;
            color: $white;
            .tablet,
            .desktop{
                display: $none;
            }
            .mobile{
                display: initial;
            }
        }
        nav{
            display: flex;
            justify-content: space-between;
            align-items: $center;
            padding: 0.5rem;
            a{
                text-decoration: $none;
                color: $main-color;
                .logo{
                    width: 30px;
                    border-radius: 50%;
                    
                }
            }
            #theme{
                border: $none;
                cursor: pointer;
                margin-left: auto;
                order: 0;
            }
            
            .open{
                @include open;
                li{
                    padding: 1.5rem;
                    margin-left: 1rem;
                    a{
                        color: black;
                    }
                }
                #close{
                    @include close;
                }
            }
            #burger{
                cursor: $pointer;
            }
        }
        form{
            padding-inline: 0.5rem;
            button,input{
                width: 100%;
            }
            input{
                @include input-style;
            }
            button{
                @include button-style;
            }
        }
    }
    #hero{
        padding: 0.5rem;
        .level{
            padding-block: 0.5rem;
            h2{
                padding-block: 0.5rem;
            }
            label{
                color: $black;
            }
        }
    }
    section:last-of-type,
    #recette,
    #favorisDisplay{
        .article{
            margin: 1rem;
            position: relative;
            
            .fav-btn{
                position: absolute;
                right: 1rem;
                top: 1rem;
                border-radius: 50%;
                border: $none;
                cursor: $pointer;
            }
            img{
                border-radius: 1rem 1rem 0 0;
            }
            figcaption{
                margin: 0.7rem 0.5rem;
                .title{
                    padding-block: 1rem;
                    font-size: 1.2rem;
                }
                span{
                    color: $white;
                    padding: 0.3rem;
                    border-radius: 1.5rem;
                }
                .type{
                    background-color: $main-color;
                }
                .time{
                    background-color: $green;
                }
                .level{
                    background-color: $blue;
                }
            }
            
        }
    }
    
    #body-recette,
    #page-favoris{
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        main{
            flex: 1;
        }
    }
    
    #contactform{
        margin-block: 1rem;
        h2{
            @include h2;
        }
        article:first-of-type{
            font-size: 1.1rem;
            color: $black;
        }
        form{
            background-color: rgba(210, 105, 30, 0.17);
            border-radius: 0.3rem;
            padding-inline: 0.5rem;
            > div {
                margin-bottom: 1rem;
            }
            .label{
                font-size: 1.3rem;
                padding-block: 0.7rem;
            }
            .input-grp{
                position: relative;
                input,
                textarea {
                    &:not([type="checkbox"])
                    {
                        @include input-style;
                    }
                }
                .is-valid,
                .is-invalid {
                    display: initial;
                    &.is-valid,
                    &.is-invalid{
                        @include validation;
                    }
                }
                .is-valid,
                .feedback{
                    display: none;
                }
                
            }
            .feedback{
                color: red;
            }
            .submit{
                text-align: center;
                button{
                    @include sendBtn;
                }
            }
            
        }
        article:last-of-type{
            background-color: grey;
            border-radius: 1rem;
            padding: 1rem;
            margin-block: 1rem;
            gap: 1rem;
            @include grid3fr;
            align-items: $center;
            h2{
                grid-column: 1 / -1;
            }
            .faq-question{
                .faq-btn{
                    @include sendBtn;
                }
            }
            .faq-answer{
                margin: 0;
                display: none;
                box-sizing: border-box;
            }
        }
    }
    footer{
        padding: 0.5rem;
        a,
        p{
            color: $black;
        }
        div{
            div{
                padding: 0.5rem;
                h2{
                    color: $main-color;
                }
                ul{
                    list-style: none;
                    a{
                        text-decoration: $none;
                    }
                }
            }
        }
    }
}

@media(min-width: 768px) {
    body{
        height: 100vh;
        header{
            h2{
                .mobile,
                .desktop {
                    display: none;
                }
                .tablet{
                    display: initial;
                }
            }
        }
        nav,
        main,
        header form input,
        button,
        footer{
            max-width: 70%;
            margin: auto;
            #theme{
                margin: 0;
            }
        }
        form input,
        button{
            margin-right: auto;
            display: block;
        }
        #hero{
            .level{
                @include grid3fr;
                h2{
                    grid-column: 1 / -1;
                }
            }
        }
        #hero + section,
        #favorisDisplay{
            @include grid2fr;
            margin: 0;
        }
        #contactform{
            form{
                padding: 1.5rem;
                border-radius: 1.5rem;
                .inputLabel{
                    display: flex;
                    align-items: center;
                    gap: 0;
                    justify-content: flex-start;
                    margin-block: 1rem;
                    input{
                        margin: 0  0.3rem 0 0;
                        padding: 0;
                    }
                }
            }
        }
        footer{
            div.nav{
                @include grid2fr;
                margin-left: 1rem;
                h2{
                    grid-column: 1 / -1;
                    margin-bottom: 0.4rem;
                }
                ul li{
                    padding: 0.2rem;
                }
            }
            div.copy{
                text-align: $center;
                margin-block: 1rem;
            }
        }
    }
}
@media(min-width: 1028px) {
    body{
        header{
            h2{
                .mobile,
                .tablet{
                    display: none;
                }
                .desktop{
                    display: initial;
                }
            }
            nav{
                .open{
                    position: unset;
                    background-color: unset;
                    z-index: 100;
                    display: block;
                    #close{
                        display: $none;
                    }
                    ul{
                        display: flex;
                        align-items: flex-start;
                    }
                }
                #burger{
                    display: $none;
                }
                #theme{
                    order: 1;
                    margin-left: auto;
                }
                
            }
            form{
                display: flex;
                width: 70%;
                margin: auto;
                input[type="text"] {
                    position: relative;
                    z-index: 5;
                }
                button{
                    max-width: 100px;
                }
            }
        }
        main{
            #hero + section,
            #favorisDisplay{
                @include grid3fr;
            }
            #contactform{
                max-width: 100%;
            }
        }
    }
}